.message {
background-color: #cffde1;
    border-radius: 15px;
    min-width: 15rem;
    max-width: 20rem;
    word-wrap: break-word;
    display: inline-block;
    clear: both;
    padding: 1rem;
    margin: 0.5rem 0;

p {
        padding: 0;
        margin: 0;
    }
  .option {
      margin-left: 1rem;
      margin-top: 1rem;
  }
}

.incoming {
float: left;
}

.outgoing {
float: right;
}
